body{
    position: relative;
    height: 100vh;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fb2c36;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  color: #fff;
  cursor: pointer;
}

.website-design-container::-webkit-scrollbar {
  width: 0;
}

.footer{
    width: 100%;
    position: absolute;
    bottom: 20px;
    text-align: center;
    text-transform: capitalize;
}
hr {


  margin: 20px auto;      
  width: 50%;   
  border: 1px dashed #ccc;
  border-radius: 50px;
}
