.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fb2c36;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  color: #fff;
  cursor: pointer;
}

.website-design-container::-webkit-scrollbar {
  width: 0;
}
