body{
    position: relative;
    min-height: 100vh;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FF562F ;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  color: #fff;
  cursor: pointer;
}

.container-material::-webkit-scrollbar {
  width: 0;
}

.footer{
  margin-top: 50px;
    width: 100%;
    text-align: center;
    padding: 20px ;
    text-transform: capitalize;
    z-index: 1000;
}
hr {
  margin: 20px auto;      
  width: 50%;   
  border: 1px dashed #ccc;
  border-radius: 50px;
}
